apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: shopverse
  labels:
    app: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      serviceAccountName: shopverse-service-account
      volumes:
        - name: keys
          configMap:
            name: api-gateway-keys
      containers:
        - name: api-gateway
          image: shopverse/api-gateway:1.0-SNAPSHOT
          imagePullPolicy: Always
          ports:
            - containerPort: 8090
          volumeMounts:
            - name: keys
              mountPath: /app/keys
              readOnly: true
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "kubernetes"
            - name: SPRING_DATA_REDIS_HOST
              value: "redis"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              value: "http://zipkin:9411/api/v2/spans"
            - name: MANAGEMENT_TRACING_SAMPLING_PROBABILITY
              value: "1.0"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8090
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8090
            initialDelaySeconds: 60
            periodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: shopverse
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: 8090
      targetPort: 8090
      nodePort: 30090
